.gallery-card{
    width: calc(25% - 20px);
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.4);
}

.gallery-image{
    height: 5rem;
    max-height: 100%;
}

.center{
    display: flex;
    gap: 20px;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .gallery-card{
        width: calc(50% - 20px);
    }
}