.context-menu {
  position: absolute;
  background-color: #282828;
  z-index: 1000;
  padding: 5px;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  color: #FFFFFFE6;
}

.context-menu-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 0.2rem;
}

.context-menu:hover .dropdown-menu,
.context-menu-button:hover + .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border-radius: 0.2rem;
  position: absolute;
  top: 0%;
  left: 100%;
  background-color: #282828;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 5px;
  width: 150px;
  display: none;
}

/* .context-menu-button:hover .dropdown-menu {
  display: block;
} */

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
  border-radius: 0.2rem;
}

.dropdown-menu li:hover, .context-menu-button:hover {
  background-color: #3e3e3e;
}
