.song-row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    color: #a6a6a6;
}

.song-row:hover{
    background-color: #1c1c1c;
    cursor: pointer;
}

.song-number {
    flex: 0 0 3rem;
    text-align: center;
}

.song-image {
    flex: 0 0 3rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.song-name {
    flex: 7;
    padding: 0 1rem;
}

.song-popularity {
    flex: 5;
    text-align: center;
}

.song-duration {
    flex: 1;
    text-align: center;
}

.song-row img {
    width: 100%;
    border-radius: 0.5rem;
}

/* BUAT SONG ROW ALBUM */
.song-number-album {
    flex: 0 0 3rem;
    text-align: center;
}

.song-name-album {
    flex: 12;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.song-duration-album {
    flex: 1;
    text-align: center;
}

.name{
    color: white;
}

/* BUAT SONG ROW PLAYLIST */
.song-number-playlist {
    flex: 0 0 3rem;
    text-align: center;
}

.song-name-playlist {
    flex: 6;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.song-album-playlist {
    flex: 3;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.song-date-playlist {
    flex: 3;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.song-duration-playlist {
    flex: 1;
    text-align: center;
}

.pad-1{
    padding-left: 1rem;
}

.image-playlist{
    width: 3rem;
    height: 3rem;
}

.flex{
    display: flex;
    gap: 1rem;
}