.header{
    border-radius: 2%;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}

.header.scrolled {
    background-color: blue;
}

.flex-between {
    justify-content: space-between;
    padding: 1.5rem 20px 5px;
    box-sizing: border-box;
}

.flex{
    display: flex;
    gap: 0.5rem;
}

.profile-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.page-button{
    padding: 0.5rem;
    background-color: #1c1c1c;
    border-radius: 100%;
    display: flex;
}